<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Lista de Pessoas</title>
</head>
<body>
<div class="container">
    <h3>LOAS</h3>
    <a href="{% url 'add_payer' %}" class="btn waves-effect waves-light">Adicionar</a>
    <table class="striped">
        <thead>
        <tr>
            <th>CPF</th>
            <th>Payer Name</th>
            <th>Parceiro</th>
            <th>Requerimentos Iniciais</th>
            <th>Requirimentos INSS</th>
            <th>Avaliação Médica</th>
            <th>Social</th>
            <th>DER</th>
            <th>Criado</th>
        </tr>
        </thead>
        <tbody>
        {% for payer in payers %}
            <tr>
                <td>{{ payer.cpf }}</td>
                <td>{{ payer.payer_name }}</td>
                <td>{{ payer.partner }}</td>
                <td>{{ payer.initial_requirement }}</td>
                <td>{{ payer.inss_requirement }}</td>
                <td>
                    <label>
                        <input type="checkbox" {% if payer.doctor %}checked{% endif %} disabled />
                        <span></span>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="checkbox" {% if payer.social %}checked{% endif %} disabled />
                        <span></span>
                    </label>
                </td>
                <td>{{ payer.der }}</td>
                <td>{{ payer.created_at }}</td>
                <td>
                    <a href="{% url 'edit_payer' payer.id %}" class="btn yellow">Editar</a>
                    <a href="{% url 'delete_payer' payer.id %}" class="btn red">Deletar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>